# Ignore node_modules
node_modules

# Ignore logs
*.log

# Ignore build directories
dist
build

# Ignore temporary files
*.tmp
*.swp

# Ignore environment files
.env
.env.*

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore Git-related files
.git
.gitignore

# ignore virtual environments
venv/

chroma_storage/