# Project-specific .gitignore file
.gitignore
db/dermasync_chroma/
*key.json
dermasync-backend.json
info_dev.md
app/db/
dermasync-db/*
tokens.json
temp_storage/
report.json
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.wheel

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
*.cover
*.py,cover
.hypothesis/
.tox/
.nox/
.cache/
pytest_cache/
nosetests.xml
coverage.xml
*.log

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Cython debug symbols
cython_debug/

# VS Code settings
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.swp
*.swo
*.bak

# Other
*.env
*.pkl
*.db
*.sqlite3