[MASTER]
ignore=venv,.env,.git,__pycache__,*.pyc,*.pyo,*.pyd,.pytest_cache,.mypy_cache,.vscode,docs,tests,build,dist,*.egg-info,*.eggs,*.log,*.db,*.sqlite3,.idea,.vscode
jobs=1

[MESSAGES CONTROL]
disable=W0621, W0105,W0718,W1203,W0611,R0903,C0103,R0801,E0401,C0114,C0115,C0116,missing-module-docstring,missing-class-docstring,missing-function-docstring

[FORMAT]
max-line-length=124

[REPORTS]
output-format=colorized
score=yes

[TYPECHECK]
ignored-modules=fastapi,uvicorn,colorlog

[DESIGN]
max-args=8
max-locals=25
